<%= link_to "管理者ページ", admin_path %>
<h1>登録店舗削除ページ</h1>
<ul>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-4">店名</th>
        <th class="col-md-4">営業時間</th>
        <th class="col-md-3">定休日</th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <% @restaurants.each do |restaurant| %>
      <% holidays = "" %>
      <% if restaurant.holiday.present? %>
        <% restaurant.holiday.chars.each do |day| %>
          <% holidays += @week[day.to_i] %>
        <% end %>
      <% end %>
      <thbody>
        <tr>
          <th class="col-md-4"><%= restaurant.name %></th>
          <th class="col-md-4"><%= restaurant.start_hour %>時<%= restaurant.start_minute %>分〜<%= restaurant.end_hour %>時<%= restaurant.end_minute %>分</th>
          <th class="col-md-3"><%= holidays %><br><%= restaurant.holiday %></th>
          <th class="col-md-1"><%= link_to "[削除]",delete_path(restaurant.id),
  method: :delete, data: {confirm: "削除してもよろしいですか"} %>
          <br><%= link_to "[更新]", show_investigators_path(restaurant.id) %></th>
	</tr>
      </thbody>
    <% end %>
  </table>
  <h4>例.日曜と水曜と木曜が定休日 = 034</h4>
  <center><h1>定休日表</h1>
    <table class="table table-hover">
      <thread>
        <tr>
          <th class="col-md-1">曜日</th>
          <th class="col-md-1">日</th>
          <th class="col-md-1">月</th>
          <th class="col-md-1">火</th>
          <th class="col-md-1">水</th>
          <th class="col-md-1">木</th>
          <th class="col-md-1">金</th>
          <th class="col-md-1">土</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="col-md-1">入力値</th>
          <th class="col-md-1">0</th>
          <th class="col-md-1">1</th>
          <th class="col-md-1">2</th>
          <th class="col-md-1">3</th>
          <th class="col-md-1">4</th>
          <th class="col-md-1">5</th>
          <th class="col-md-1">6</th>
        </tr>
      <thbody>
    </table>
  </center>
</ul>
