<h1>調査ページ</h1>

<table class="table table-bordered table-condensed table-responsive;">
  <div class="container">
    <div class="row">
      <tr>
	<th class="col-md-4">お店</th>
	<th class="col-md-4">座席占有率</th>
	<th class="col-md-4">人数入力フォーム</th>
      </tr>
      <% @restaurants.each do |jam| %>
      <tr>
      	<td scope="col">
      	  <%= jam.name %>
      	</td>
      	
	<td scope="col">
	  <%= jam.seats_occ %>%
	</td>
	
	<td scope="col">
	  <%= form_tag(dbupdate_path(jam.id)) do %>
          店内外の人数:<%= number_field_tag :congestion, jam.num_people, min: 0 %>
          <%= submit_tag '送信' %>
	  <% end %>
	</td>
      </tr>
      <% end %>
    </div>
  </div>
</table>

