<h1>調査ページ</h1>

  <% @restaurants.each do |jam| %>
    <tr>
    <h2><%= jam.name %>:<%= jam.seats_occ %>%</h2>
      <%= form_tag(dbupdate_path(jam.id)) do %>
        店内外の人数:<%= number_field_tag :congestion, jam.num_people, min: 0 %>
        <%= submit_tag '送信' %>
      <% end %>
    </tr>
  <% end %>
  <p><%= link_to "新規登録", new_investigators_path %></p>
