<h1>料理、いつくる</h1>
<h2>店新規登録</h2>
<%= render '/input_msg', object: @investigator %>

<%= form_for @investigator, url:invest_update_path do |f| %>
  <div>
    <%= f.label :店名 %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :ふりがな%>
    <%= f.text_field :hurigana %>
  </div>
  <div>
    <%= f.label :席数%>
    <%= f.text_field :num_seats %>
  </div>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>
