<<<<<<< HEAD
<div class="starter-template">
<center><h1>料理、いつくる?</h1></center>
<center><h1>今の空き具合</h1></center>
<% @ranking.each do |rank| %>
      <tr>
       <center><h1><%= rank.store %></h1></center>
       <center><h3><%= rank.congestion %></h3><center>
      </tr>
      <br>
<% end %>
      
    </table>
=======
<!DOCTYPE html>
<html lang="ja">

<head>
<link href="/css/main.css" rel="stylesheet" />
<div class="main">
<title>itswitter</title>
</head>

<body>
  <center><h1>料理、いつくる?</h1></center>
  <center><h1>今空いている順番</h1></center>
  <meta neme="refresh" content="3">
  <tr>
    <center><h1><%= @nsortrank[0][2]%></h1></center>
  </tr>
  <br>
  <tr>
    <center><h1><%= @nsortrank[1][2]%></h1></center>
  </tr>
  <br>
  <tr>
    <center><h1><%= @nsortrank[2][2]%></h1></center>
  </tr>
  <br>
  <tr>
    <center><h1><%= @nsortrank[3][2]%></h1></center>
  </tr>
  <br>
  <tr>
    <center><h1><%= @nsortrank[4][2]%></h1></center>
  </tr>
<%=link_to "更新",:controller => "userpage",:action => "display2"%>
</body>

>>>>>>> 95f7940a0576aa8e47d95508089bd664587a9db7
</div>

</html>
