<div class="starter-template">
<center><h1>料理、いつくる?</h1></center>
<center><h1>今の空き具合</h1></center>

      <tr>
        <h1><%= ranking.rank[0] ranking.restaurant[0] %></h1>
      </tr>
      
      <br>
      
      <tr>
        <h2><%= ranking.rank[1] ranking.restaurant[1]%></h2>
      </tr>
      
      <br>
      
      <tr>
        <h3><%= ranking.rank[2] ranking.restaurant[2] %></h3>
      </tr>
      
      <br>
      
      <tr>
        <h4><%= ranking.rank[3] ranking.restaurant[3] %></h4>
      </tr>
      
      <br>
      
      <tr>
        <h5><%= ranking.rank[4] ranking.restaurant[4] %></h5>
      </tr>
      
    </table>
</div>
