<%= render '/flash_msg2' %>
<div class="jumbotron">
  <h2>私たちに飲食店を教えてください。</h2>
</div>

<%= render '/mypage_block'%>

<%= form_for @demand, url:demands_new_path do |f| %>
<div>
  <%= f.label "店名" %><span class="text-danger">(必須)</span>
  <%= f.text_field :demand_restaurant, class:'form-control' %>
</div>

<br>

<div class="form-group">
  <%= f.label "伝えたい思いをどうぞ！"%>
  <br>
  <%= f.text_area :free, rows:10, class:'form-control' %>
</div>  
<div>
  <%= f.submit "登録", {class: 'btn btn-primary'} %>
  </div>
  <% end %>

<hr>

  <center><h1>追加待ちの飲食店(追加済みの飲食店は<%= link_to 'こちら', approved_demands_path %>)</h1></center> 

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>店名</th>
      <th>伝えたい思い</th>
    </tr>
  </thead>
  <tbody>
    <% num = 1 %>
    <% @demands.each do |demand| %>
    <tr>
      <th><%= num %></th>
      <td><%= demand.demand_restaurant %></td> 
      <td><%= demand.free %></td>

      <% num = num + 1 %>
    </tr>
    <% end %>
  </tbody>
</table>
