<h1>店の新規申請</h1>

<% if @demand.errors.any? %>
  <ul>
    <h2><%= @demand.errors.messages[:demand_restaurant][0] %></h2>
  </ul>
<% end %>

<%= form_for @demand, url:demands_new_path do |f| %>

<br>
  <div>
    <%= f.label :店名 %>
    <%= f.text_field :demand_restaurant %>
  </div>
    
  <br>
  
  <div>
    <%= f.label :フリースペース %>
    <br>
    <%= f.text_area :free, cols:50, rows:10 %>
  </div>
  
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>
<br>
  <center><h1>承認待ち申請(承認済み申請は<%= link_to 'こちら', approved_demands_path %>)</h1></center> 

<% num = 1 %>

<% @demands.each do |demand| %>
  <h2> <%= num %> . <u><%= demand.demand_restaurant %></u> <%= demand.free %></h2>
  <% num = num + 1 %>
<% end %>
