
<div class="contents">
  <div class="container"><h2 style="color: black;">フォロー店の最新コメント</h2>
<!--
    <table class="table table-hover">
      <thead>
    	<tr>
	  <th class="col-md-3">混雑度</th>
          <th class="col-md-5">店名</th>
	  <th class="col-md-4">最新更新時</th>
    	</tr>
        <tr>
          <th colspan="3" class="col-md-12">コメント</th>
        </tr>
      </thead>
    </table>
-->
  <% rank.each do |ranking| %>
    <% last_comment = 'コメント無し' %>
    <% if ranking.latest_comment.present? %>
      <% if ranking.latest_comment.comment.present? %>
        <% last_comment = ranking.latest_comment.comment %>
      <% else %>
        <% last_comment = '最新コメント無し' %>
      <% end %>
    <% end %>
    <table class="table table-hover table-bordered">
      <tbody>
        <tr>
          <td class="col-md-6 success">
            <% if logged_in? %>
              <% if current_user.restaurants.include? ranking %>

                <%= link_to unfollow_restaurant_path(ranking), { method: :post, remote: true, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'フォロー解除する' } do %>
                  <span class="glyphicon glyphicon-star color-gold" id="now-follow-unfollow-area-<%= ranking.id %>"></span>
                <% end %>

              <% else %>

                <%= link_to follow_restaurant_path(ranking), { method: :post, remote: true, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'フォローする' } do %>
                  <span class="glyphicon glyphicon-star-empty color-gold" id="now-follow-unfollow-area-<%= ranking.id %>"></span>
                <% end %>

              <% end %>
            <% end %>
            <%= link_to ranking.name, "https://www.google.co.jp/search?q=" + ranking.name %>
          </td>
	  <td class="col-md-4 success"><%= image_tag(crowded_image[ranking.crowdedness], :size => "32x32") %><br><%= link_to how_crowded[ranking.crowdedness], :controller => "restaurants", :action => "report", :resname => ranking.id %></td>
          <td class="col-md-2 success"><%= sec2h((Time.zone.now - ranking.updated_at).to_i) %>前</td>
        </tr>
        <tr>
          <% if logged_in? %>
	    <td colspan="3" class="col-md-12" style="word-wrap:break-word;" bgcolor="#FFFFFF"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;
              <% if last_comment != 'コメント無し' %>
                <%= link_to last_comment.truncate(23), :controller => "restaurants", :action => "comment_log", :restaurant_id => ranking.id %>
              <% else %>
                <%= last_comment %>
	      <% end %>

	      <% if (!(ranking.latest_comment.blank?) && !(session[:user_id].blank?)) %>
                <% if ranking.latest_comment.user_id != session[:user_id] %>
                  <% if (PressedUser.find_by(comment_id: ranking.latest_comment.id, user_id: session[:user_id]).blank?) %>
                    <%= button_to "いいね!", {:controller => "restaurants", :action => "add_like_point", :user_id => ranking.latest_comment.user_id, :comment_id => ranking.latest_comment.id} %><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                  <% else %>
                    <br><%= button_to "いいね!取り消し", {:controller => "restaurants", :action => "cancel_like", :user_id => ranking.latest_comment.user_id, :comment_id => ranking.latest_comment.id } %>
                  <% end %>
                  報告者:

                  <%= link_to my_index_path(u_id: ranking.latest_comment.user_id) do %>
                    <%= User.find(ranking.latest_comment.user_id).nickname %>さん
                  <% end %>

                <% else %>

                  <br>いいねしたユーザ一覧
                  <% if ranking.latest_comment.pressed_users.present? %>

                    <% ranking.latest_comment.pressed_users.each do |pressed_user| %>
                      <%= link_to my_index_path(u_id: pressed_user.user.id) do %><%= pressed_user.user.nickname %>さん<% end %>,
                    <% end %>

                  <% end %>
                <% end %>
              <% end %>
	    </td>
<!--
            <td class="col-md-2" bgcolor="#FFFFFF">
              <% if current_user.restaurants.include? ranking %>
                <%= link_to unfollow_restaurant_path(ranking), { method: :post, remote: true, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'フォロー解除する' } do %>
                <span class="glyphicon glyphicon-star color-gold" id="now-follow-unfollow-area-<%= ranking.id %>"></span>
                <% end %>
              <% else %>
                <%= link_to follow_restaurant_path(ranking), { method: :post, remote: true, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'フォローする' } do %>
                <span class="glyphicon glyphicon-star-empty color-gold" id="now-follow-unfollow-area-<%= ranking.id %>"></span>
                <% end %>
              <% end %>
            </td>
-->
          <% else %>
	    <td colspan="3" class="col-md-10" style="word-wrap:break-word;" bgcolor="#FFFFFF"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;<%= link_to last_comment.truncate(23), :action => "comment_log", :controller => "restaurants", :restaurant_id => ranking.id %>

<!--
	    <% if (!(ranking.latest_comment.blank?) && !(session[:user_id].blank?) && (ranking.latest_comment.user_id != session[:user_id]))  %>
	    
              <% if (PressedUser.find_by(comment_id: ranking.latest_comment.id, user_id: session[:user_id]).blank?) %>
                <%= button_to "いいね!", {:action => "add_like_point", :user_id => ranking.latest_comment.user_id, :comment_id => ranking.latest_comment.id} %><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              <% else %>
                <br><%= button_to "いいね!取り消し", {:action => "cancel_like", :user_id => ranking.latest_comment.user_id, :comment_id => ranking.latest_comment.id} %>
              <% end %>
              報告者:<%= User.find(ranking.latest_comment.user_id).nickname %>さん
            <% end %>
	    </td>
-->
            <br>報告者:

              <%= link_to my_index_path(u_id: ranking.latest_comment.user_id) do %>
                <%= User.find(ranking.latest_comment.user_id).nickname %>さん
              <% end %>

            <br>いいねしたユーザ一覧
            <% if ranking.latest_comment.pressed_users.present? %>

              <% ranking.latest_comment.pressed_users.each do |pressed_user| %>
                <%= link_to my_index_path(u_id: pressed_user.user.id) do %>
                  <%= pressed_user.user.nickname %>さん
                <% end %>,
              <% end %>

            <% end %>
          <% end %>
	</tr>
      </tbody>
    </table>
  <% end %>
  </div>
</div>
