 <div class="container">

   <div class="row row-eq-height">
     <% @restaurants.each do |restaurant| %>
       <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
         <div class="thumbnail">
            <!-- img -->
            <div class="caption">

              <p style="word-wrap:break-word;"><%= link_to restaurant.name, "https://www.google.co.jp/search?q=" + restaurant.name %></p>

            <!-- フォローボタン部分 -->
              <p align="left">
            <% if logged_in? %>
            <% if current_user.restaurants.include? restaurant %>
            <span class="glyphicon glyphicon-star" id="follow-unfollow-area-<%= restaurant.id %>"><%= link_to 'フォロー解除', unfollow_restaurant_path(restaurant), { method: :post, remote: true }%>
              <% else %>
              <span class="glyphicon glyphicon-star-empty" id="follow-unfollow-area-<%= restaurant.id %>"><%= link_to 'フォローする', follow_restaurant_path(restaurant), { method: :post, remote: true }  %>
            <% end %>
            <% end %>
	      </p>
              <p align="right">
                <%= link_to image_tag(@crowded_image[restaurant.crowdedness], :size => "32x32"), {:action => "report", :resname => restaurant.id}, {:class => "btn"} %>
                <%= link_to sanitize('<span class="glyphicon glyphicon-comment"></span>'), {:action => "comment_log", :restaurant_id => restaurant.id}, {:class => "btn"} %>
              </p>

            </div>
          </div>
        </div>
      <% end %>
    </div>
 </div>
