<%= render '/flash_msg2' %>
<div class="jumbotron">
  <center><h2><%= @restaurant_name %>の混雑度ログ</h2></center>
</div>

<div class="contents">
  <div class="container"><h1 style="color: black;">最新コメント</h1>
<!--
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="col-md-4 success">混雑度</th>
          <th class="col-md-8 success">最新更新時</th>
        </tr>
        <tr>
          <th colspan="2" class="col-md-12" bgcolor="#FFFFFF">コメント</th>
        </tr>
      </thead>
    </table>
-->
    <% comment = @comments[0] %>
    <% if comment.comment.blank? %>
      <% cont = 'コメント無し' %>
    <% else %>
      <% cont = comment.comment %>
    <% end %>
    <table class="table table-hover table-bordered">
      <tbody>
        <tr>
          <td class="col-md-4 success"><%= image_tag(@crowded_image[comment.crowdedness], :size => "32x32") %><%= link_to @how_crowded[comment.crowdedness], :action => "report", :resname => comment.restaurant.id %></td>
          <td class="col-md-8 success"><%= comment.updated_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
        </tr>
        <tr>
          <td colspan="2" class="col-md-10" style="word-wrap:break-word;" bgcolor="#FFFFFF"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;<%= cont %>
            <% if logged_in? %>
              <% if !(comment.user_id.blank?) && !(session[:user_id].blank?) %>
                <% if comment.user_id != session[:user_id] %>
                  <% if PressedUser.find_by(comment_id: comment.id, user_id: session[:user_id]).blank? %>
                    <%= button_to "いいね!", {:action => "add_like_point", :user_id => comment.user_id, :comment_id => comment.id} %><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                  <% else %>
                    <br><%= button_to "いいね!取り消し", {:action => "cancel_like", :user_id => comment.user_id, :comment_id => comment.id} %>
                  <% end %>
	          報告者:<%= link_to mypage_path(u_id: User.find(comment.user_id).id) do %> <%= User.find(comment.user_id).nickname %>さん<% end %>
                <% else %>
                  <br>いいねしたユーザ一覧
                  <% if comment.pressed_users.present? %>
                    <% comment.pressed_users.each do |pressed_user| %>
                      <%= link_to mypage_path(u_id: pressed_user.user.id) do %><%= pressed_user.user.nickname %>さん<% end %>,
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              <br>報告者:<%= link_to mypage_path(u_id: User.find(comment.user_id).id) do %> <%= User.find(comment.user_id).nickname %>さん<% end %>
              <br>いいねしたユーザ一覧
              <% if comment.pressed_users.present? %>
                <% comment.pressed_users.each do |pressed_user| %>
                  <%= link_to mypage_path(u_id: pressed_user.user.id) do %><%= pressed_user.user.nickname %>さん<% end %>,
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br>

<div>
<div class="contents">
  <div class="contaner"><h1 style="color: black;">コメント一覧</h1>

<!--
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th class="col-md-4 success">混雑度</th>
          <th class="col-md-8 success">最新更新時</th>
        </tr>
        <tr>
          <th colspan="2" class="col-md-12" bgcolor="#FFFFFF">コメント</th>
        </tr>
      </thead>
    </table>
-->
  <%= render partial: '/comment_log_card', locals: { comments: @comments[1..-1], crowded_image: @crowded_image, how_crowded: @how_crowded } %>

  </div>
</div>
</div>
