<link href="/css/main.css" rel="stylesheet" />
<div class="main">
  <div style="margin-top:200px">
    <div style="margin-bottom:200px">
      <center><font size="10">すいてる？</font></center>
      <%= form_tag(restaurants_search_path) do %>
      店名:<%= text_field_tag :name %>
      <%= submit_tag '検索' %>
      <% end %>
    </div>
  </div>
  
  <hr>
    <center><h1>今、空いてる順</h1></center>
    <table class="table table-bordered table-condensed;">
     <div class="container">
    	<div class="row">
    	  <tr>
            <td class="col-md-2"><h2>順位</h2></td>
            <td class="col-md-5"><h2>店名</h2></td>
	    <td class="col-md-5"><h3>混雑度</h3><br>
	      最新更新時</td>
    	  </tr>
    	</div>
     </div>
      <meta neme="refresh" content="10">
      <div class="container">
        <div class="row">
	  <% num=1 %>
	  <% @rank.each do |ranking| %>
          <tr>
            <td class="col-md-2"><h2><%= num  %>位</h2></td>
            <td class="col-md-5"><h2><%= ranking.name %></h2></td>
	    <td class="col-md-5"><h3><%= ranking.crowdedness %></h3><br>
	      <%= sec2h((Time.zone.now - ranking.updated_at).to_i) %>前</td>
          </tr>
          <% num = num+1 %>
	  <% end %>
	</div>
      </div>
    </table>
    <br>
</div>
