<%= render '/flash_msg2' %>
<!-- Top image -->
<%= render '/eyecatch' %>

<div class="contents">
  <p>
    <span class="glyphicon glyphicon-info-sign"></span>更新情報 
    <iframe src=<%= url_for(restaurants_slide_info_path) %> height="30" width="90%" scrolling="no" align="middle" frameborder="0"></iframe>
  </p>
</div>

<div class="contents">
  <h4>飲食店を検索しよう！</h4>
  <%= form_tag(restaurants_search_path) do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
	<%= text_field_tag :name,"" ,class: 'form-control', placeholder: '検索' %>
	<span class="input-group-btn">
	  <%= button_tag '検索', class: 'btn btn-default' %>
	</span>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<!-- フォローの店表示部分-->
<% if logged_in? %>
  <div class="contents">
    <h4>お気に入りの飲食店</h4>
    <p align="right">[<%= link_to "フォローリスト", favorite_restaurants_path %>]</p>

    <%= render partial: '/restaurant_card', locals: { restaurants: @my.restaurants.order("updated_at desc").limit(4), crowded_image: @crowded_image, how_crowded: @how_crowded } %>

  </div>
<% end %>
<br>
<!-- 更新10分以内の店表示-->
<div class="contents">
  <h4>今この飲食店がすいています<br>(更新10分以内)</h4>
  <p align="right">[<%= link_to "すべての飲食店を見る", all_rest_restaurants_path %>]</p>
    <%= render partial: '/restaurant_card_ten', locals: { restaurants: @rank, crowded_image: @crowded_image, how_crowded: @how_crowded } %>
</div>
