<%= render '/flash_msg2' %>
  <div class="jumbotron">
    <center><h1>Suitell</h1>
      <p>飯、待てぬ、食わねば。</p>
      <%= form_tag(restaurants_search_path) do |f| %>
	<div class="input-group">
	  <%= text_field_tag :name,"" ,class: 'form-control', placeholder: '飲食店を検索しよう！' %>
          <span class="input-group-btn">
   	    <%= button_tag '検索', class: 'btn btn-default' %>
          </span>
	</div>
      <% end %>
    </center>
  </div>
  <p><span class="glyphicon glyphicon-info-sign"></span>更新情報 <iframe src=<%= url_for(restaurants_slide_info_path) %> height="30" width="85%" scrolling="no" align="middle" frameborder="0"></iframe></p>

<%= render '/mypage_block'%>  
  
  <center><h1>今、空いてる順</h1></center>
    <table class="table table-hover">
      <thead>
    	<tr>
          <th class="col-md-1">順位</th>
          <th class="col-md-2">店名</th>
	  <th class="col-md-3">混雑度</th>
	  <th class="col-md-4">最新更新時</th>
	  <th class="col-md-5">コメント</th>
    	</tr>
      </thead>
      <tbody>
	<% num=1 %>
	<% @rank.each do |ranking| %>
          <% latest_comment = ranking.latest_comment %>     
          <% if latest_comment.blank? %>
            <% latest_comment = 'コメント無し' %>
          <% end %>
          <tr>
            <th scope="row" class="col-md-1"><%= num %>位</th>
            <td class="col-md-2"><%= link_to ranking.name, "https://www.google.co.jp/search?q=" + ranking.name %></td>
	    <td class="col-md-3"><%= image_tag(@crowded_image[ranking.crowdedness], :size => "32x32") %>&nbsp;&nbsp;<%= link_to @how_crowded[ranking.crowdedness], :action => "report", :resname => ranking.id %></td>
	    <td class="col-md-4"><%= sec2h((Time.zone.now - ranking.updated_at).to_i) %>前</td>
            <td class="col-md-5"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;<%= link_to latest_comment.truncate(15), :action => "comment_log", :restaurant_id => ranking.id %>
	      
	      <% if (!(ranking.comment_user_id.blank?) && !(session[:user_id].blank?))  %>
	      
	      <% if (PressedUser.find_by(comment_id: ranking.latest_comment_id, user_id: ranking.comment_user_id).blank?) %>
	      <br><%= button_to "いいね!", {:action => "add_like_point", :user_id => ranking.comment_user_id, :comment_id => ranking.latest_comment_id} %>
	      <% else %>
	      <br><%= button_to "いいね取り消し", {:action => "cancel_like", :user_id => ranking.comment_user_id, :comment_id => ranking.latest_comment_id} %>
	      <% end %>
	      
	      報告者:<%= User.find(ranking.comment_user_id).nickname %>さん
	      <% end %>
	    </td>
          </tr>
          <% num = num+1 %>
	<% end %>
      </tbody>
    </table>

  <center><h1>新着</h1></center>
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-1">店名</th>
          <th class="col-md-2">混雑度</th>
          <th class="col-md-3">最新更新時</th>
          <th class="col-md-4">登録日</th>
        </tr>
      </thead>
      <tbody>
	  <% @new_restaurants.each do |nr| %>
        <tr>
          <td class="col-md-1"><%= link_to nr.name, "https://www.google.co.jp/search?q=" + nr.name %></td>
          <td class="col-md-2"><%= image_tag(@crowded_image[nr.crowdedness], :size => "32x32") %>&nbsp;&nbsp;<%= link_to @how_crowded[nr.crowdedness], :action => "report", :resname => nr.id %></td>
          <td class="col-md-3"><%= sec2h((Time.zone.now - nr.updated_at).to_i) %>前</td>
          <td class="col-md-4"><%= nr.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
