<link href="/css/main.css" rel="stylesheet" />
<div class="main">
  <center><h1>料理、いつくる?</h1></center>

  <%= form_tag(restaurants_search_path) do %>
    店名:<%= text_field_tag :name %>
    <%= submit_tag '送信' %>
  <% end %>
  <% if @error.present? %>
    <h2><%= @error %></h2>
    <% @error = "" %>
  <% end %>
  
  <center><h1>今ここが空いてるランキング</h1></center>
  
  <center>
    <table class="row">
      <tr>
        <td class="col-sm-3"><h1>順位</h1></td>
        <td class="col-sm-3"><h1>店名</h1></td>
        <td class="col-sm-3"><h1>混雑度</h1></td>
        <td class="col-sm-3"><h1>最新更新時</h1></td>
      </tr>
      <meta neme="refresh" content="10">
      <% num=1 %>
      <% @rank.each do |ranking| %>
        <tr>
          <td><h1><%= num  %>位</h1></td>
          <td><h1><%= ranking.name %></h1></td>
          <td><h1><%= ranking.seats_occ %>％</h1></td>
          <td><h1><%= sec2h((Time.zone.now - ranking.updated_at).to_i) %>前</h1></td>
        </tr>

        <% num = num+1 %>
      <% end %>
    </table>
  </center>
  <br>
</div>
