<%= render '/flash_msg2' %>
<div class="jumbotron">
  <center><h1>Suitell</h1>
    <p>飯、待てぬ、食わねば。</p>
  </center>
</div>

<p><span class="glyphicon glyphicon-info-sign"></span>更新情報 <iframe src=<%= url_for(restaurants_slide_info_path) %> height="30" width="85%" scrolling="no" align="middle" frameborder="0"></iframe></p>

<%= form_tag(restaurants_search_path) do |f| %>
<div class="input-group">
  <%= text_field_tag :name,"" ,class: 'form-control', placeholder: '飲食店を検索しよう！' %>
  <span class="input-group-btn">
    <%= button_tag '検索', class: 'btn btn-default' %>
  </span>
</div>
<% end %>
<br>
<%= render '/mypage_block'%> 
  <div class="panel panel-success">
  <div class="panel-heading"><center><h1 style="color:black;">今こんなお店がすいてます</h1></center></div>
      <%= render partial: 'restaurants/not_crowd', locals: { rank: @rank, crowded_image: @crowded_image, how_crowded: @how_crowded } %>
  </div>
  
  <div class="panel panel-warning">
  <div class="panel-heading"><center><h1 style="color:black;">最近見れるようになったお店</h1></center></div>
  <div class="panel-body panel-yellow">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-md-3">店名</th>
          <th class="col-md-3">混雑度</th>
          <th class="col-md-2">最新更新時</th>
          <th class="col-md-4">登録日</th>
        </tr>
      </thead>
      <tbody>
	  <% @new_restaurants.each do |nr| %>
        <tr>
          <td class="col-md-3"><%= link_to nr.name, "https://www.google.co.jp/search?q=" + nr.name %></td>
          <td class="col-md-3"><%= image_tag(@crowded_image[nr.crowdedness], :size => "32x32") %>&nbsp;&nbsp;<%= link_to @how_crowded[nr.crowdedness], :action => "report", :resname => nr.id %></td>
          <td class="col-md-2"><%= sec2h((Time.zone.now - nr.updated_at).to_i) %>前</td>
          <td class="col-md-4"><%= nr.created_at.strftime("%Y年%m月%d日 %H時%M分") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  </div>
