<%= render '/flash_msg2' %>
<!-- Top image -->
<%= render '/eyecatch' %>

<div class="contents">
  <p>
    <span class="glyphicon glyphicon-info-sign"></span>更新情報 
    <iframe src=<%= url_for(restaurants_slide_info_path) %> height="30" width="90%" scrolling="no" align="middle" frameborder="0"></iframe>
  </p>
</div>

<div class="contents">
  <h4>飲食店を検索しよう！</h4>
  <%= form_tag(restaurants_search_path) do |f| %>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
	<%= text_field_tag :name,"" ,class: 'form-control', placeholder: '検索' %>
	<span class="input-group-btn">
	  <%= button_tag '検索', class: 'btn btn-default' %>
	</span>
      </div>
    </div>
  </div>
  <% end %>
</div>

<br>

<!-- フォローの店表示部分-->
<% if logged_in? %>
  <div class="contents">
    <h4>お気に入りの飲食店</h4>
    <p align="right">[<%= link_to "フォローリスト", favorite_restaurants_path %>]</p>

    <%= render partial: '/restaurant_card', locals: { restaurants: @my.restaurants.order("updated_at desc").limit(4), crowded_image: @crowded_image } %>

  </div>
<% end %>
<br>

<div class="contents">
  <h4>今この飲食店がすいています(更新10分以内)</h4>
  <p align="right">[<%= link_to "すべての飲食店を見る", all_rest_restaurants_path %>]</p>
  <div class="container">
    <% @rank.each do |restaurant| %>
      <% if ((Time.zone.now - restaurant.updated_at).to_i <= 600) %>
	 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	   <section class="card">
	     <!-- img -->
	     <div class="card-content">
	       <h1 class="card-title">
		 <!-- フォロー部分-->
		 <% if logged_in?%>
		 <% if current_user.restaurants.include? restaurant %>
		 <%= link_to unfollow_restaurant_path(restaurant), { method: :post, remote: true } do%>
		 <span class="glyphicon glyphicon-star color-gold" id="now-follow-unfollow-area-<%= restaurant.id %>"></span><% end %>
		 <% else %>
		 <%= link_to follow_restaurant_path(restaurant), { method: :post, remote: true }  do%>
		 <span class="glyphicon glyphicon-star-empty color-gold" id="now-follow-unfollow-area-<%= restaurant.id %>"></span><% end %>
		 <% end %>
		 <% end %>

                 <!-- <span style="word-wrap:break-word;"><%= link_to restaurant.name, "https://www.google.co.jp/search?q=" + restaurant.name %></span> -->
		 <span style="word-wrap:break-word;"><%= link_to restaurant.name, shop_info_path(:shop_name => restaurant.name, :shop_id => restaurant.id) %></span>
	       </h1>
	     </div>

	     <div class="card-comment tenn">
	       <span>
		 <%= link_to image_tag(@crowded_image[restaurant.crowdedness], :size => "32x32"), {:action => "report", :resname => restaurant.id}, {:class => "btn"} %>
               </span>
               <% comment = restaurant.latest_comment.nil? ? "コメント無し" : restaurant.latest_comment.blank? ? "最新コメント無し" : restaurant.latest_comment %>
               <span class="relative">
		 <% if comment == "コメント無し" %>
	         <%= comment %>
		 <% else %>
		 <%= link_to comment, { :controller => "restaurants", :action => "comment_log", :restaurant_id => restaurant.id } %>
		 <% end %>
	       </span>
	     </div>

	   </section>
	 </div>
      <% end %>
    <% end %>
  </div>
</div>
