  <div class="jumbotron">
    <center><h1>Suitell</h1>
      <p>飯、待てぬ、食わねば。</p>
      <%= form_tag(restaurants_search_path) do |f| %>
	<div class="input-group">
	  <%= text_field_tag :name,"" ,class: 'form-control', placeholder: 'Search for...' %>
          <span class="input-group-btn">
   	    <%= button_tag '検索', class: 'btn btn-default' %>
          </span>
	</div>
      <% end %>
      <center><h3><FONT color="red"><%= @message %></FONT></h3></center>
    </center>
  </div>
  
  
  <center><h1>今、空いてる順</h1></center>
    <table class="table table-hover">
      <thead>
    	<tr>
          <th class="col-md-1">順位</th>
          <th class="col-md-4">店名</th>
	  <th class="col-md-4">混雑度</th>
	  <th class="col-md-3">最新更新時</th>
    	</tr>
      </thead>
      <tbody>
	<% num=1 %>
	<% @rank.each do |ranking| %>
          <tr>
            <th scope="row" class="col-md-1"><%= num %>位</th>
            <td class="col-md-4"><%= ranking.name %></td>
	    <td class="col-md-4"><%= @how_crowded[ranking.crowdedness] %></td>
	    <td class="col-md-3"><%= sec2h((Time.zone.now - ranking.updated_at).to_i) %>前</td>
          </tr>
          <% num = num+1 %>
	<% end %>
      </tbody>
    </table>
