<div class="jumbotron" >
<h2>お店の状況を伝えよう。</h2>
</div>

<%= render :partial => '/flash_msg' %>
<%= form_for @restaurant, url: { action: 'deliver' } do |f| %>
  <%= f.label "店名" %>
  <%= f.select :id ,@restaurant_names, prompt: '選択してください'%> </br>
  <table class="table">
    <tbody>
      <tr>
        <td><%= f.radio_button :crowdedness, 0, {:id => 'garagara', :checked => false} %><%= label_tag nil, nil, for: 'garagara' %></td>
        <td><%= f.radio_button :crowdedness, 1, {:id => 'yayakomi'} %><%= label_tag nil, nil, for: 'yayakomi' %></td>
        <td><%= f.radio_button :crowdedness, 2, {:id => 'komi'} %><%= label_tag nil, nil, for: 'komi' %></td>
      </tr>
      <tr>
        <td>席がガラガラ</td>
        <td>席が半分くらい埋まってる</td>
        <td>席がほぼ埋まってる</td>
      </tr>
      <tr>
	<td><%= f.radio_button :crowdedness, 3, {:id => 'yayamachi'} %><%= label_tag nil, nil, for: 'yayamachi' %></td>
	<td><%= f.radio_button :crowdedness, 4, {:id => 'machi'} %><%= label_tag nil, nil, for: 'machi' %></td>
	<td></td>
      </tr>
      <tr>
	<td>席に座れない人がいる</td>
	<td>席に座れない人がたくさんいる</td>
	<td>お店が閉まっている</td>
      </tr>
      <tr>
	<td><%= f.submit "伝える", {class: 'btn btn-primary' }%></td>
	<td></td>
	<td></td>
      </tr>
    </tbody>
  </table>
<% end %>
