<h1>お店の状況を伝えよう。</h1>
<%= render :partial => '/flash_msg' %>
<%= form_for @restaurant, url: { action: 'deliver' } do |f| %>
  <%= f.label "店名" %>
  <%= f.select :id ,@restaurant_names, prompt: '選択してください' %> </br>
  
  <table align="center", style="width: 100%;">
    <tr>
      <td align="center">
        <h1><%= f.radio_button :crowdedness, 1, {:id => 'garagara'} %><%= label_tag nil, nil, for: 'garagara' %></h1>
      </td>
      <td align="center">
        <h1><%= f.radio_button :crowdedness, 2, {:id => 'yayakomi'} %><%= label_tag nil, nil, for: 'yayakomi' %></h1>
      </td>
      <td align="center">
        <h1><%= f.radio_button :crowdedness, 3, {:id => 'komi'} %><%= label_tag nil, nil, for: 'komi' %></h1>
      </td>
    </tr>
    <tr>
      <td align="center">空いてる</td>
      <td align="center">やや混み</td>
      <td align="center">混んでる</td>
    </tr>
  </table>
  <table align="center", style="width: 100%;">
    <tr>
      <td align="center">
        <%= f.radio_button :crowdedness, 4, {:id => 'yayamachi'} %><%= label_tag nil, nil, for: 'yayamachi' %>
      </td>
      <td align="center">
        <%= f.radio_button :crowdedness, 5, {:id => 'machi'} %><%= label_tag nil, nil, for: 'machi' %>
      </td>
    </tr>
    <tr>
      <td align="center">外にも少し人がいる</td>
      <td align="center">外にたくさん人がいる</td>
    </tr>
  </table>
  <%= f.submit "伝える"%>
<% end %>
