<%= render '/eyecatch' %>

<%= form_tag(restaurants_search_path) do |f| %>
<div class="input-group">
  <%= text_field_tag :name,"" ,class: 'form-control', placeholder: '飲食店を検索しよう！' %>
  <span class="input-group-btn">
    <%= button_tag '検索', class: 'btn btn-default' %>
  </span>
</div>
<% end %>

<center><p><%= @error %></p></center>
<div class="contents">
<center><h2>検索一覧</h2></center>
<%= render partial: '/restaurant_card', locals: { restaurants: @searched, crowded_image: @crowded_image } %>
</div>
