  <div class="jumbotron", style="height: 180px;">
    <center>
      <table class="table", frame="void", rules="none">
        <tbody>
          <tr>
            <td class="col-md-6", rowspan="2", valign="top", align="right", style="padding: 0px 0px;"><%= image_tag("Suitell-1-1.png", :size => "128x128") %></td>
            <td class="col-md-6", valign="bottom", align="left", style="vertical-align: bottom;padding: 20px 0px 0px;"><p>飯、待てぬ</p></td>
            <tr>
              <td valign="top", align="left"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;食わねば</p></td>
            </tr>
          </tr>
        </tbody>
      </table>
    </center>
  </div>
  <%= form_tag(restaurants_search_path) do |f| %>
    <div class="input-group">
      <%= text_field_tag :name,"" ,class: 'form-control', placeholder: '飲食店を検索しよう！' %>
      <span class="input-group-btn">
        <%= button_tag '検索', class: 'btn btn-default' %>
      </span>
    </div>
  <% end %>

  <center><p><%= @error %></p></center>
  
  <center><h1>検索一覧</h1></center>
<div style="border-style:solid ; border-width: 1px; padding: 10px 5px 10px 5px; border-color:#FAEBD7; color:black; background-color:#FAEBD7; border-radius: 10px;">
  <table class="table table-hover">
    <thead>
      <tr>
	
        <th class="col-md-3">混雑度</th>
        <th class="col-md-5">店名</th>
        <th class="col-md-4">最新更新時</th>
	
      </tr>
        <tr>
          <th colspan="3" class="col-md-12">コメント</th>
        </tr>
    </thead>
    <tbody>
      <% @searched.each do |ranking| %>
      <% latest_comment = ranking.latest_comment %>
      <% if latest_comment.blank? %>
      <% latest_comment = 'コメント無し' %>
      <% end %>
      <tr>
        <td class="col-md-3"><%= image_tag(@crowded_image[ranking.crowdedness], :size => "32x32") %><%= link_to @how_crowded[ranking.crowdedness], :action => "report", :resname => ranking.name %></td>
        <td class="col-md-5"><%= link_to ranking.name, "https://www.google.co.jp/search?q=" + ranking.name %></td>
        <td class="col-md-4"><%= sec2h((Time.zone.now - ranking.updated_at).to_i) %>前</td>
      </tr>
      <tr>
	<td colspan="3" class="col-md-12"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;&nbsp;<%= link_to latest_comment.truncate(15), :action => "comment_log", :restaurant_id => ranking.id %>
	
	<% if (!(ranking.comment_user_id.blank?) && !(session[:user_id].blank?) && (ranking.comment_user_id != session[:user_id]))  %>
          <% if (PressedUser.find_by(comment_id: ranking.latest_comment_id, user_id: session[:user_id]).blank?) %>
          <%= button_to "いいね!", {:action => "add_like_point", :user_id => ranking.comment_user_id, :comment_id => ranking.latest_comment_id} %><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          <% else %>
          <br><%= button_to "いいね!取り消し", {:action => "cancel_like", :user_id => ranking.comment_user_id, :comment_id => ranking.latest_comment_id} %>
          <% end %>
          報告者:<%= User.find(ranking.comment_user_id).nickname %>さん
          <% end %>
	</td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
