<div class="jumbotron" >
  <h2><%= @shop_name %>の基本情報</h1></h2>
</div>

<% if !@gnavi.nil? %>
  <% addressStr = @gnavi[:address] %>
  <% match = addressStr.match(/(\S+)\s(\S+)/) %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0uJNHCwm0X0ulqcEd2YxL6oGb4MLC8Vg" type="text/javascript"></script>
<script type="text/javascript">

  var geocoder = new google.maps.Geocoder();
  var address = "<%= match %>";//住所
  geocoder.geocode({'address': address,'language':'ja'},function(results, status){
  if (status == google.maps.GeocoderStatus.OK){
  var latlng=results[0].geometry.location;//緯度と経度を取得
  var mapOpt = {
  mapTypeControl: false,
  center: latlng,//取得した緯度経度を地図の真ん中に設定
  zoom: 17,//地図倍率1～20
  mapTypeId: google.maps.MapTypeId.ROADMAP//普通の道路マップ
  };
  var map = new google.maps.Map(document.getElementById('google_map'),mapOpt);
  var marker = new google.maps.Marker({//住所のポイントにマーカーを立てる
  position: map.getCenter(),
  map: map
  });
  }
  });
</script>


  <% if @gnavi[:shop_image1] != {} %>
  <center>
    <figure>
      <img src=<%= @gnavi[:shop_image1] %> width="45%" height="45%" border="0" alt="提供:ぐるなび">
      <figcaption style="font-size: 10px; ">提供:ぐるなび</figcaption>
    </figure>
  </center>
  <% end %>

<table class="company">
  <tbody>
      <tr>
        <th class="arrow_box">店名</div></th>
          <td>
	    <p style="font-size: 10px;"><%= @gnavi[:name_kana] %></p>
	    <p><%= raw @gnavi[:name] %></p>
	  </td>
       </tr>
       <tr>
         <th class="arrow_box">営業時間</th>
         <td><%= raw @gnavi[:opentime] %></td>
        </tr>
        <tr>
          <th>休業日</th>
          <td>
	    <%= raw @gnavi[:holiday] %>
          </td>
        </tr>
        <tr>
          <th>平均予算</th>
          <td><%= raw @gnavi[:budget] %><%= "円" if @gnavi[:budget] != "情報なし" %></td>
        </tr>
        <tr>
	  <th>電話番号</th>
	  <td><%= raw @gnavi[:tel] %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td>
	    <%= raw @gnavi[:address] %>
	    <% if @gnavi[:address] != "情報なし" %>
	    <div id="google_map" style="width:99%;height:250px"></div>
	    <% end %>
	  </td>
        </tr>
        <tr>
          <th>URL<br>(ぐるなび)</th>
          <td><%= link_to @gnavi[:name], @gnavi[:url] %></td>
        </tr>
    </tbody>
</table>

Powered by <a href="http://www.gnavi.co.jp/">ぐるなび</a>

<% else %>
  <h2>店舗情報がありません<h2>
<% end %>
