<section>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active" id="leftest"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4" id="rightest"></li>
    </ol>

    <!-- Wrapper fo slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
	<!-- img -->
	<%= image_tag('explain/search-explain.png', {:class => "explain-img"}) %>
	<div class="carousel-caption">
	  <!-- insert caption -->
	  <h3>お店の混雑度を知る</h3>
	  <p>キーワードで検索しよう！</p>
	</div>
      </div>
      <div class="item">
	<!-- img -->
	<%= image_tag('explain/congestion-lavel-explain.png', {:class => "explain-img"}) %>
	<div class="carousel-caption">
	  <!-- insert caption -->
	  <h3>お店の混雑を教える</h3>
	  <p>混雑度は全部で６つ！</p>
	</div>
      </div>
      <div class="item">
        <!-- img -->
	<%= image_tag('explain/ranking-explain.png', {:class => "explain-img"}) %>
        <div class="carousel-caption">
          <!-- insert caption -->
	  <h3>行動はポイントに</h3>
	  <p>ベストレポーターになろう！</p>
        </div>
      </div>
      <div class="item">
        <!-- img -->
	<%= image_tag('explain/help-explain.png', {:class => "explain-img"}) %>
        <div class="carousel-caption">
          <!-- insert caption -->
	  <h3>詳しくはヘルプに</h3>
	  <p>スマホから簡単にアクセスする方法など！</p>
        </div>
      </div>
      <div class="item">
        <!-- img -->
	<%= image_tag('explain/plain.png', {:class => "explain-img"}) %>
        <div class="carousel-caption">
          <!-- insert caption -->
	  <h3>さぁ、はじめよう！</h3>
	  <p><button type="button" class="btn btn-primary btn-lg"><%= link_to "ログインして始める", "/auth/twitter", { :style => "color:#FFFFFF;"} %></button></p>
	  <p><button type="button" class="btn btn-default btn-lg"><%= link_to "とりあえず見てみる", "/restaurants" %></button></p>
        </div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>
</section>

<!-- carousel custom -->
<script>
$('.carousel').carousel({
  interval: false,
  pause: "hover",
  wrap: false,
  keybord:true
});
</script>
<!--
<script>
$(function() {
  if($('#leftest').hasClass("active")) {
    $('.left .carousel-control').css()
  }
});

</script>
-->
