<%= render '/flash_msg2' %>

<div class="jumbotron" >
<h2>このアプリの使い方</h2>
</div>

<%= render '/mypage_block'%>
<a id="back"></a>
<h1>何について知りたいですか？</h1>
<h2><%= link_to "・Suitellってどんなアプリなの？",:anchor => 'what' %></h2>
<h2><%= link_to "・Suitellでできること！",:anchor => 'ability' %></h2>
<h2><%= link_to "・Suitellの各機能について",:anchor => 'function' %></h2>
<ul>
<h3><%= link_to "・まずはログインをしよう",:anchor => 'login' %></h3>
<h3><%= link_to "・お店の混雑度を知ろう",:anchor => 'crowdedness' %></h3>
<h3><%= link_to "・投稿されたコメントが見たい",:anchor => 'comment' %></h3>
<h3><%= link_to "・コメントにイイねをしよう",:anchor => 'favorite' %></h3>
<h3><%= link_to "・お店の状況を伝えよう",:anchor => 'report' %></h3>
<h3><%= link_to "・どうやってポイントを稼ぐの？",:anchor => 'point' %></h3>
</ul>
<h2><%= link_to "・気になるお店がSuitellにない時は？",:anchor => 'demand' %></h2>
<h2><%= link_to "・Suitellに言いたいことがある！",:anchor => 'feedback' %></h2>
</br>
</br>
</br>
</br>
</br>
<HR>
<a id="what"></a>
<h2><%= link_to "・Suitellってどんなアプリなの？",:anchor => 'back' %></h2>
<ul>
<h4>「お腹が空いた、何か食べたい、でもいざ立ち寄った飲食店が混んでいて入れなかった…」そんな経験ありますよね？Suitellはお店で待つのが嫌いなあなたの食事事情を快適にする素敵なツールです。</h4>
<h4>Suitellでは飲食店の混雑状況をリアルタイムで提供し、あなたのお店選びのサポートをいたします。あなたはSuitellで今空いているお店を探すことで、待つことなくすぐに食事を食べることができるのです！</h4>
</ul>
<a id="ability"></a>
<h2><%= link_to "・Suitellでできること!",:anchor => 'back' %></h2>
<ul>
<h4>・お店の最新の状況を把握できる</br>
Suitellでは混雑具合アイコンとコメントによってお店の今の混雑状況を知ることができます。</h4>
<h4>・お店の状況を伝える</br>
Suitellではお店の混雑状況を混雑度アイコンによってひと目で確認することが出来ます。更に、実際にお店に立ち寄った人が投稿したコメントを見ることもでき、より詳しい情報などを得ることも可能です。</h4>
<h4>・ポイントを稼いでランキングに乗ろう</br>
あなたが情報を提供したり、その情報が他のユーザーの役に立ったときにはそれがポイントという形で反映されます。高得点を稼ぐとユーザーランキングにあなたの名前が乗ることも！それは即ちあなたが多くのユーザーのお役に立ったという証明です。たくさんポイントを稼いでトップリポーターを目指しましょう。</h4>
</ul>
<a id="function"></a>
<h2><%= link_to "・Suitellの各機能について",:anchor => 'back' %></h2>
<a id="login"></a>
<h2><%= link_to "・まずはログインをしよう",:anchor => 'back' %></h2>
<h4>Suitellではログインする事ですべての機能を使うことが出来ます。ログインをするにはトップページの右上にあるログインボタンを押してください。ログイン状態になると、あなたのアカウント名と現在のポイントが右上に表示されます。</h4>
<a id="crowdedness"></a>
<h2><%= link_to "・お店の混雑度を知ろう",:anchor => 'back' %></h2>
<h4>お店の混雑状況はトップページから参照することが出来ます。トップページでは今空いているお店や最近Suitellに追加されたお店をピックアップして表示しています。</h4>
<h4>また、特定のお店を調べたいときは画面中央の検索バーにお店の名前を入れてください。そのお店の情報が表示されます。</h4>
<a id="comment"></a>
<h2><%= link_to "・投稿されたコメントが見たい",:anchor => 'back' %></h2>
<h4>混雑度アイコンの右側のアイコンをクリックすると、そのお店に対して投稿されたコメントの一覧を見ることが出来ます。</h4>
<a id="favorite"></a>
<h2><%= link_to "・コメントにイイねをしよう",:anchor => 'back' %></h2>
<h4>※実装後に書きます</h4>
<a id="report"></a>
<h2><%= link_to "・お店の状況を伝えよう",:anchor => 'back' %></h2>
<h4>「お店の混雑度を伝える」ボタンからページへ行くことが出来ます。ここでの手順は</h4>
<h4>(1)お店を選択する(必須)</h4>
<h4>(2)お店の今の状況に近いと思われるアイコンを1つ選択(必須)</h4>
<h4>(3)お店の情報に関するコメントをする。(任意)このコメントは詳しい混雑状況から、割引してるよ！と言った情報までなんでも好きなことを書いてください</h4>
<h4>(4)伝えるボタンを押す</h4>
<h4>伝えるボタンを押すとコメントログページへ移動し、あなたの投稿を確認することが出来ます。</h4>
<h4>また、一度投稿すると3分間新たな投稿はできなくなります。</h4>
<a id="point"></a>
<h2><%= link_to "・どうやってポイントを稼ぐの？",:anchor => 'back' %></h2>
<h4>Suitellでは混雑状況を伝えた場合に10p、他ユーザーに対してイイねした場合に1p、あなたの投稿が誰かにイイねされた場合に2p加算されます。</h4>
<a id="demand"></a>
<h2><%= link_to "・気になるお店がSuitellにない時は？",:anchor => 'back' %></h2>
<h4>検索した時に該当するお店がない場合、「お店をリクエストする」ボタンからそのお店を申請することが出来ます。申請中のお店は下にログとして表示され、お店がSuitellに追加されると実際に検索することが可能になります。</h4>
<a id="feedback"></a>
<h2><%= link_to "・Suitellに言いたいことがある！",:anchor => 'back' %></h2>
<h4>このサービスを使っている時に不便に感じたり、不具合を発見したり、はたまたこんな機能欲しい！と感じた時は、「Suitellへのご意見」ボタンから要望をお伝え下さい。このアプリはまだテスト版ですので、あなたのご意見をお待ちしております。</h4>
