  <div class="jumbotron">
    <h2>ランキング</h2>
  </div>
  

<center><h3> トップ30 </h3></center>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1">順位</th>
      <th class="col-md-5">ユーザー名</th>
      <th class="col-md-6">ポイント</th>
    </tr>
  </thead>
  <tbody>
    <!--もし同率ポイントだった場合は順位をタイにする-->
    <% @up_rank.each do |urank| %>
    <% if (session[:user_id] == urank.id) %>
    <tr>
      <th scope="row" class="col-md-1"><h4><font color="#ff0000"><%= urank.rank %>位</font></h4></th>
      <td class="col-md-5"><%= link_to mypage_path(u_id: urank.id) do %><%= image_tag(User.find(urank.id).image_url, :size => "32x32") %><font color="#ff0000"><%= urank.nickname %><% end %></font></td>
      <td class="col-md-6"><h5><font color="#ff0000"><%= urank.point %>pt</font></h5></td>
    </tr>
    <% else %>
    <tr>
      <th scope="row" class="col-md-1"><h4><%= urank.rank %>位</h4></th>
      <td class="col-md-5"><%= link_to mypage_path(u_id: urank.id) do %><%= image_tag(User.find(urank.id).image_url, :size => "32x32") %><%= urank.nickname %><% end %></td>
      <td class="col-md-6"><h5><%= urank.point %>pt</h5></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<% if !(session[:user_id].blank?) %>
<center><h3> あなたのランキング </h3></center>
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-md-1">順位</th>
      <th class="col-md-5">ユーザー名</th>
      <th class="col-md-6">ポイント</th>
    </tr>
  </thead>
  <tbody>
    <!--同率だった場合はタイにする-->
    <% @your_rank.each do |yrank| %>
    <% if (session[:user_id] == yrank.id) %>
    <tr>
      <th scope="row" class="col-md-1"><h4><font color="#ff0000"><%= yrank.rank %>位</font></h4></th>
      <td class="col-md-5"><%= link_to mypage_path(u_id: yrank.id) do %><%= image_tag(User.find(yrank.id).image_url, :size => "32x32") %><font color="#ff0000"><%= yrank.nickname %><% end %></font></td>	
      <td class="col-md-6"><h5><font color="#ff0000"><%= yrank.point %>pt</font></h5></td>
    </tr>
    <% else %>
    <tr>
      <th scope="row" class="col-md-1"><h4><%= yrank.rank %>位</h4></th>
      <td class="col-md-5"><%= link_to mypage_path(u_id: yrank.id) do %><%= image_tag(User.find(yrank.id).image_url, :size => "32x32") %><%= yrank.nickname %><% end %></td>
      <td class="col-md-6"><h5><%= yrank.point %>pt</h5></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<% end %>
