<%= render '/flash_msg2'%>

<div class="jumbotron">
<h3>Suitellへのご意見・ご要望をお聞かせください。</h3>
</div>

<%= render '/mypage_block'%>

<%= form_for @feedback do |f| %>
<div>
  <%= f.label :名前 %>
  <% @feedback.name = "匿名" %>
  <%= f.text_field :name ,class:'form-control'%>
</div>
<br>
<div class="form-group">
<p><%= f.label "ご意見(必須)" %></p>

  <%= f.text_area :opinion, rows:10, class:'form-control' %>
  <br>
  <%= f.submit "送信",{class: 'btn btn-primary'} %>
</div>
<% end %>
