<h1>店の新規申請</h1>

<% if @apply.errors.any? %>
  <ul>
    <h2><%= @apply.errors.messages[:apply_restaurant][0] %></h2>
  </ul>
<% end %>

<%= form_for @apply, url:apply_page_new_path do |f| %>

  <div>
    <%= f.label :店名 %>
    <%= f.text_field :apply_restaurant %>
  </div>
  <div>
    <%= f.label :フリースペース %>
    <%= f.text_area :free, cols:80, rows:10 %>
  </div>
  <div>
    <%= f.submit "登録" %>
  </div>
<% end %>

<h1>申請中リスト</h1>
<% @applies.each do |app| %>
  <h2><%= app.apply_restaurant %>　<%= app.free %></h2>
<% end %>
