<div class="container">

  <% restaurants.each do |restaurant| %>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <section class="card">
      <!-- img -->
      <!-- <img class="card-img" src="" alt=""> -->
      <div class="card-content">
	<h1 class="card-title">
	<!-- follow system -->
	<% if logged_in? %>
	  <% if current_user.restaurants.include? restaurant %>
	    <%= link_to unfollow_restaurant_path(restaurant), { method: :post, remote: true } do %>
	      <span class="glyphicon glyphicon-star color-gold" id="now-follow-unfollow-area-<%= restaurant.id %>"></span>
	      <span style="word-wrap:break-word;"><%= link_to restaurant.name, "https://www.google.co.jp/search?q=" + restaurant.name %></span>
	    <% end %>
	  <% else %>
	    <%= link_to follow_restaurant_path(restaurant), { method: :post, remote: true } do %>
	      <span class="glyphicon glyphicon-star-empty color-gold" id="now-follow-unfollow-area-<%= restaurant.id %>"></span>
	      <span style="word-wrap:break-word;"><%= link_to restaurant.name, "https://www.google.co.jp/search?q=" + restaurant.name %></span>
	    <% end %>
	  <% end %>
	<% end %>
	<!-- end of follow system -->
	</h1>
	<!-- <p class="card-text"></p> -->
      </div>
      
      <div class="card-comment">
	<span>
	  <%= link_to image_tag(crowded_image[restaurant.crowdedness], :size => "32x32"), { :controller => "restaurants", :action => "report", :resname => restaurant.id}, {:class => "btn"} %>
	</span>
	<% comment = restaurant.latest_comment.nil? ? "コメント無し" : restaurant.latest_comment.blank? ? "最新コメント無し" : restaurant.latest_comment %>
	<span class="relative">
	  <% if comment == "コメント無し" %>
	    <%= comment %>
	  <% else %>
	    <%= link_to comment, { :controller => "restaurants", :action => "comment_log", :restaurant_id => restaurant.id } %>
	  <% end %>
	</span>
      </div>
      
      <!-- under line -->
      <!--
      <div class="card-link">
	<p>あああ</a>
      </div>-->
    </section>
  </div>
  <% end %>

</div>
