<div class="container">
  <% restaurants.each do |restaurant| %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <section class="card">
        <!-- img -->
        <!-- <img class="card-img" src="" alt=""> -->
        <div class="card-content">
          <h1 class="card-title">
	    <!-- follow system -->
	    <% if logged_in? %>
	      <% if current_user.restaurants.include? restaurant %>
	        <%= link_to unfollow_restaurant_path(restaurant), { method: :post, remote: true, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'フォロー解除する' } do %>         
	          <span class="glyphicon glyphicon-star color-gold" id="now-follow-unfollow-area-<%= restaurant.id %>"></span>
	        <% end %>
	      <% else %>
	        <%= link_to follow_restaurant_path(restaurant), { method: :post, remote: true, 'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'フォローする' } do %>             
	          <span class="glyphicon glyphicon-star-empty color-gold" id="now-follow-unfollow-area-<%= restaurant.id %>"></span>
	        <% end %>
	      <% end %>
	    <% end %>
	  
	    <!-- end of follow system -->
	  
	    <!-- <span style="word-wrap:break-word;"><%= link_to restaurant.name, "https://www.google.co.jp/search?q=" + restaurant.name %></span> -->
	    <span style="word-wrap:break-word;"><%= link_to restaurant.name, shop_info_path(:shop_name => restaurant.name, :shop_id => restaurant.id) %></span>	  
	  </h1>	
        </div>
        <div class="card-content">
	  <table class="table-hover" border="0">
            <tr>
              <td align="center">
	        <%= link_to image_tag(crowded_image[restaurant.crowdedness], :size => "32x32"), { :controller => "restaurants", :action => "report", :resname => restaurant.id}, {:class => "btn"} %>
              <td align="center" rowspan="2">
                <%= link_to image_tag('menu_bar_icon_nw/tell_icon_brack.png', {:border => '0', :alt => 'tell', :size => "60x60"}), { :controller => "restaurants", :action => "report", :resname => restaurant.id}, {:class => "btn"} %>
	      </td>
            </tr>
            <tr>
              <td align="center">
                <%= link_to how_crowded[restaurant.crowdedness], { :controller => "restaurants", :action => "report", :resname => restaurant.id}, {:class => "btn"} %>
              </td>
            </tr>
          </table>
        </div>

	<!-- col 3 -->
        <div class="card-comment"><!-- tennを抜きました by akio -->
          <% last_comment = 'コメント無し' %>
	  <% reporter = '報告者はいません' %>
          <% if restaurant.latest_comment.present? %>
	    <% reporter = restaurant.latest_comment.user.nickname %>
            <% if restaurant.latest_comment.comment.present? %>
              <% last_comment = restaurant.latest_comment.comment %>
            <% else %>
              <% last_comment = '最新コメント無し' %>
            <% end %>
          <% end %>
	    <!--<% comment = restaurant.latest_comment.nil? ? "コメント無し" : restaurant.latest_comment.blank? ? "最新コメント無し" : restaurant.latest_comment %>-->
	  
	  <div class="comment_report">
	    <!-- reporter part -->
	    <div class="reporter_back">
	      <div class="reporter">
		<% if reporter != '報告者はいません' %>
		  <%= link_to reporter, my_index_path(u_id: restaurant.latest_comment.user_id ) %>
		<% else %>
		  <%= reporter %>
		<% end %>
	      </div>
	    </div>

	    <!-- comment part -->
	    <div class="comment_back">
	      <div class="comment">
		<% if last_comment != 'コメント無し' %>
	          <%= link_to last_comment.truncate(16), { :controller => "restaurants", :action => "comment_log", :restaurant_id => restaurant.id } %>
		<% else %>
	          <%= last_comment %>
	        <% end %>
	      </div>
	    </div>
	  </div>
	</div> 
	 
      </section>
    </div>
  <% end %>
</div>
