<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render 'application/favicon' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- for port view -->
    <meta http-equiv="refresh" content="180">
    <title>Suitell</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
<!--  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
    <%= stylesheet_link_tag    'sticky-footer-navbar' , media: 'all' %>
    <%= stylesheet_link_tag    'icon' , media: 'all' %>
<!--  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>

<!--floating menuのcss-->
    <%= stylesheet_link_tag 'layouts' %>
</script>

  </head>
  <body>

      <!-- navbar -->
      <nav class="navbar navbar-default">
	<div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-menu-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
	    
            <%= link_to "Suitell", root_path, {class: 'navbar-brand'} %>
	    <div class="navbar-left">
	      <ul class="nav navbar-nav">
		<% if logged_in? and User.where(:id => session[:user_id]).present? %>
		
		<li style="display: inline-block; _display: inline;"><%= link_to mypage_path(u_id: session[:user_id]) do %><%= image_tag(User.find(session[:user_id]).image_url, :size => "20x20") %><%= current_user.nickname + "さん" %><% end %></li>
		
		<li style="display: inline-block; _display: inline;"><%= link_to User.find(session[:user_id]).point.to_s + "pt", restaurants_user_ranking_path %></li>
		<% else %>
		<li style="display: inline-block; _display: inline;"><%= link_to "ログイン", "/auth/twitter" %></li>
		<% end %>
	      </ul>
	    </div>
	  </div>
	  
	  
	  <div class="collapse navbar-collapse nav-menu-1 navbar-right">
	    <ul class="nav navbar-nav">
	      <% if logged_in? and User.where(:id => session[:user_id]).present? %>
	      <li style="display: inline-block; _display: inline;"><%= link_to "ログアウト", logout_path %></li>
	      <% end %>
	      <li><%= link_to "お店をリクエスト", demands_index_path %></li>
	      <li><%= link_to "ご意見", new_feedback_path %></li>		
	    </ul>
	  </div>
	</div>
      </nav>

      <%= yield %>   
    <!--
    <footer class="footer">
      <div class="container">
	<p class="text-muted">RyuPiT Brother's 4@enPiT2016</p>
      </div>
    </footer>
    -->
    
<!-- floatingmenu部分-->
<div id="footerFloatingMenu">
  <div>
<!-- 
    <span class="col-xs-3"><%= link_to "Top", root_path,style: "color:white;" %></span>
-->
    <span class="col-xs-3"><%= link_to image_tag('menu_bar_icon/home_icon.png', {:border => '0', :alt => 'home'}), root_path %></span>
    <span class="col-xs-3"><%= link_to image_tag('menu_bar_icon/tell_icon.png', {:border => '0', :alt => 'tell'}), report_restaurants_path %></span>
    <span class="col-xs-3"><%= link_to image_tag('menu_bar_icon/rank_icon.png', {:border => '0', :alt => 'rank'}), restaurants_user_ranking_path %></span>
    <span class="col-xs-3"><%= link_to image_tag('menu_bar_icon/help_icon.png', {:border => '0', :size => '36x36', :alt => 'help'}), treatment_restaurants_path %>
    <!-- <span class="col-xs-3" id="pageTop" style="color: white">^</span> -->
  </div>
</div>

    <!-- ページトップに戻るJS-->
    <script>
      $(function(){
        var topBtn=$('#pageTop');
        topBtn.hide();

      $(window).scroll(function(){
        if($(this).scrollTop()>60) {
          topBtn.fadeIn();
        } else {
          topBtn.fadeOut();
        }
      });

      topBtn.click(function(){
        $('body,html').animate({
          scrollTop: 0},500);
          return false;
        });
      });
    </script>
    <!-- tooltip -->
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>

  </body>
</html>
