<!DOCTYPE html>
<html>
<head>
  <title>Itswitter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= form_tag(restaurants_search_path) do %>
  店名:<%= text_field_tag :name %>
  <%= submit_tag '送信' %>
<% end %>
<% if @error.present? %>
  <h2><%= @error %></h2>
  <% @error = "" %>
<% end %>


<%= yield %>
<%= link_to "トップページ", root_path %>
<%= link_to "新規作成", new_investigators_path %>
<%= link_to "調査員ページ", investigators_index_path %>
<%= link_to "店舗削除ページ", investigators_delete_path %>
</body>
</html>
