<!DOCTYPE html>
<html lang="ja">
  <head>
    <%= render 'application/favicon' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="180">
    <title>Suitell</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag    'sticky-footer-navbar' , media: 'all' %>
    <%= stylesheet_link_tag    'icon' , media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">

      <!-- navbar -->
      <nav class="navbar navbar-default">
	<div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-menu-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "Suitell", root_path, {class: 'navbar-brand'} %>
	    <%= link_to "つかいかた", restaurants_treatment_path, {class: 'navbar-brand'} %>
          </div>
          <div class="collapse navbar-collapse navbar-right nav-menu-1">
            <ul class="nav navbar-nav">
	      <% if logged_in? %>
              <li><%= link_to session[:nickname] + "さん", root_path %></li>
              <li><%= link_to "現在のポイント:" + User.find(session[:user_id]).point.to_s, root_path %></li>
	      <li><%= link_to "ログアウト", logout_path %></li>
	      <% else %>
	      <li><%= link_to "ログイン", '/auth/twitter' %></li>
	      <% end %>
            </ul>
          </div>
	</div>
      </nav>

      <%= yield %>   

    <footer class="footer">
      <div class="container">
	<p class="text-muted">Powerd by RyuPiT Brother's 4 2016@enPit</p>
      </div>
    </footer>
  </body>
</html>
